*{
    font-family: sans-serif;
}

body{
    background: darkblue;
}

.you{
    display: flex;
    align-items: space-between;
    color: white;
    gap: 20px;
   
}

.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}

.img img{
    width: 100%;
    height: 100%;
}

.you h2{
    font-size: 20px; 
    text-transform: capitalize;
}

header{
    background: #123;
    height: 100vh;
    width: 70px;
    overflow: hidden;
    justify-content: center;
    transition: 0.5s;
}

header ul{
    list-style: none;
    padding: 20px 0px;
    position: relative;
    height: 95%;
    margin: 0px 10px;
}

header ul li a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 5px 0px;
    padding: 8px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 0.3s;
}

header ul li a i {
    color: gold;
    font-size: 30px;
}

header ul li a:hover{
    background-color: #ffffff55;
    
}

.logout{
    position: absolute;
    bottom: 0;
    width: 100%;
    translate: 0 -7px;
}

.logout a{
    background-color: red;
}

header:hover{
    width: 250px;
    transition: 0.5s;
}
